<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>Cake.Filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Cake.Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCakeController</servlet-name>
        <servlet-class>Cake.Controller.SearchCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCakeController</servlet-name>
        <servlet-class>Cake.Controller.AddCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCakeController</servlet-name>
        <servlet-class>Cake.Controller.UpdateCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCakeController</servlet-name>
        <servlet-class>Cake.Controller.DeleteCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCartEmptyController</servlet-name>
        <servlet-class>Cake.Controller.CheckCartEmptyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Cake.Controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUsernameController</servlet-name>
        <servlet-class>Cake.Controller.RegisterUsernameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>thuController</servlet-name>
        <servlet-class>Cake.Controller.thuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCakeAdminController</servlet-name>
        <servlet-class>Cake.Controller.SearchCakeAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCakeAdminController</servlet-name>
        <servlet-class>Cake.Controller.UpdateCakeAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCakeAdminController</servlet-name>
        <servlet-class>Cake.Controller.EditCakeAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserAdminController</servlet-name>
        <servlet-class>Cake.Controller.SearchUserAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserAdminController</servlet-name>
        <servlet-class>Cake.Controller.EditUserAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserAdminController</servlet-name>
        <servlet-class>Cake.Controller.UpdateUserAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookiesController</servlet-name>
        <servlet-class>Cake.Controller.CookiesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserAdminController</servlet-name>
        <servlet-class>Cake.Controller.InsertUserAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCakeAdminController</servlet-name>
        <servlet-class>Cake.Controller.InsertCakeAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCakeAdminController</servlet-name>
        <servlet-class>Cake.Controller.DeleteCakeAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserAdminController</servlet-name>
        <servlet-class>Cake.Controller.DeleteUserAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>Cake.Controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDataTableUserController</servlet-name>
        <servlet-class>Cake.Controller.SearchDataTableUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDataTableBillController</servlet-name>
        <servlet-class>Cake.Controller.SearchDataTableBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserCartController</servlet-name>
        <servlet-class>Cake.Controller.ShowUserCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainAdminController</servlet-name>
        <servlet-class>Cake.Controller.MainAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainUserController</servlet-name>
        <servlet-class>Cake.Controller.MainUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCakeUserController</servlet-name>
        <servlet-class>Cake.Controller.SearchCakeUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCakeUserController</servlet-name>
        <servlet-class>Cake.Controller.AddCakeUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCakeUserController</servlet-name>
        <servlet-class>Cake.Controller.DeleteCakeUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCakeUserController</servlet-name>
        <servlet-class>Cake.Controller.UpdateCakeUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertIntoDBBillOrderController</servlet-name>
        <servlet-class>Cake.Controller.InsertIntoDBBillOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertIntoDBBillDetailController</servlet-name>
        <servlet-class>Cake.Controller.InsertIntoDBBillDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityController</servlet-name>
        <servlet-class>Cake.Controller.UpdateQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SoldOutController</servlet-name>
        <servlet-class>Cake.Controller.SoldOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookAdminController</servlet-name>
        <servlet-class>Cake.Controller.SearchBookAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCookiesController</servlet-name>
        <servlet-class>Cake.Controller.GetCookiesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailController</servlet-name>
        <servlet-class>Cake.Controller.SendMailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmptyQuantityController</servlet-name>
        <servlet-class>Cake.Controller.CheckEmptyQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDataTableCakeController</servlet-name>
        <servlet-class>Cake.Controller.SearchDataTableCakeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCakeController</servlet-name>
        <url-pattern>/SearchCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCakeController</servlet-name>
        <url-pattern>/AddCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCakeController</servlet-name>
        <url-pattern>/UpdateCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCakeController</servlet-name>
        <url-pattern>/DeleteCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCartEmptyController</servlet-name>
        <url-pattern>/CheckCartEmptyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUsernameController</servlet-name>
        <url-pattern>/RegisterUsernameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>thuController</servlet-name>
        <url-pattern>/thuController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCakeAdminController</servlet-name>
        <url-pattern>/SearchCakeAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCakeAdminController</servlet-name>
        <url-pattern>/UpdateCakeAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCakeAdminController</servlet-name>
        <url-pattern>/EditCakeAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserAdminController</servlet-name>
        <url-pattern>/SearchUserAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserAdminController</servlet-name>
        <url-pattern>/EditUserAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserAdminController</servlet-name>
        <url-pattern>/UpdateUserAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookiesController</servlet-name>
        <url-pattern>/CookiesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserAdminController</servlet-name>
        <url-pattern>/InsertUserAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCakeAdminController</servlet-name>
        <url-pattern>/InsertCakeAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCakeAdminController</servlet-name>
        <url-pattern>/DeleteCakeAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserAdminController</servlet-name>
        <url-pattern>/DeleteUserAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDataTableUserController</servlet-name>
        <url-pattern>/SearchDataTableUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDataTableBillController</servlet-name>
        <url-pattern>/SearchDataTableBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserCartController</servlet-name>
        <url-pattern>/ShowUserCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainAdminController</servlet-name>
        <url-pattern>/MainAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainUserController</servlet-name>
        <url-pattern>/MainUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCakeUserController</servlet-name>
        <url-pattern>/SearchCakeUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCakeUserController</servlet-name>
        <url-pattern>/AddCakeUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCakeUserController</servlet-name>
        <url-pattern>/DeleteCakeUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCakeUserController</servlet-name>
        <url-pattern>/UpdateCakeUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertIntoDBBillOrderController</servlet-name>
        <url-pattern>/InsertIntoDBBillOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertIntoDBBillDetailController</servlet-name>
        <url-pattern>/InsertIntoDBBillDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityController</servlet-name>
        <url-pattern>/UpdateQuantityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SoldOutController</servlet-name>
        <url-pattern>/SoldOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookAdminController</servlet-name>
        <url-pattern>/SearchBookAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCookiesController</servlet-name>
        <url-pattern>/GetCookiesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailController</servlet-name>
        <url-pattern>/SendMailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmptyQuantityController</servlet-name>
        <url-pattern>/CheckEmptyQuantityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDataTableCakeController</servlet-name>
        <url-pattern>/SearchDataTableCakeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>
</web-app>
